
.footer {
	
	margin: 50px auto 0px;
	color: white;
	background: #191970;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 0px 0px 10px 10px;
	padding: 5px;
	font-size:15px
}